<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:name=".HubApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.NoActionBar">

        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="Launcher Hub 1.0: LineageOS 23.2 launcher enhancements with provider-layer icon packs" />
        <meta-data android:name="xposedminversion" android:value="82" />
        <meta-data android:name="xposedscope" android:value="com.android.launcher3" />

        <provider
            android:name=".ConfigProvider"
            android:authorities="com.lineageos.launcherenhance.config"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:excludeFromRecents="true" />
    </application>
</manifest>
